.odd{
    background-color:brown;
    color:white;
}

.even{
    background-color:green;
    color:white;
}

.first{
    background-color:black;
    color:white;
}


.last{
    background-color:blueviolet;
    color:white;
}